* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
/***************************** Header **********************************/
header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #3c1f17;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 80px;
}

.logo img {
    width: 180px;
    margin-left: 20px;
}

header a {
    text-decoration: none;
}

header h4 {
    font-size: 20px;
    color: white;
    margin: 0;
}

.admin-info {
    position: relative;
    cursor: pointer;
}

.admin-info i {
    padding-right: 10px;
    font-size: 24px;
    color: white;
}

.username {
    margin-right: 100px;
}

.toggle-btn {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.dropdown{
    max-width: 350px;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: #3c1f17;
    border-radius: 5px;
    min-width: 100px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #7e4b36;
}

.admin-info:hover .dropdown-menu {
    display: block;
}

.sidebar {
    position: fixed;
    background: linear-gradient(to right, #7e4b36, #3c1f17);
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 80px;
    transition: width 0.3s ease;
    z-index: 1000;
}

.menu-item {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    margin-bottom: 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

.menu-item i {
    font-size: 18px; 
    margin-right: 15px; 
}

.sidebar a:hover {
    background-color: #7e4b36;
}

.submenu {
    display: none;
    margin-left: 20px;
}
.submenu a{
    display: flex;
    align-items: center;
    padding: 8px 30px; 
    font-size: 18px; 
    color: #d1cfcf;
    text-decoration: none;
    margin-bottom: 3px; 
    transition: color 0.3s ease;
}

.submenu a i {
    font-size: 16px;
    margin-right: 10px; 
}
.menu-item {
    cursor: pointer;
}

.sidebar .menu-item.active + .submenu {
    display: block;
}

.sidebar .submenu a:hover {
    background-color: #7e4b36;
}
/* Khi sidebar bị ẩn */
.sidebar.closed + .product-container {
    margin-left: 0;
}

@media (max-width: 768px) {
    header {
        padding: 8px 15px; 
        justify-content: flex-start; 
        gap: 30px;
    }
    .logo img {
        width: 140px;
    }
    .dropdown{
        max-width: 350px;
    }
    header h4 {
        margin-left: 5px;
    }
    .toggle-btn {
        display: block;
    }
    .sidebar {
        width: 0;
        height: 100%;
        overflow: hidden;
        transition: width 0.5s ease;
    }
    .sidebar.open {
        width: 250px;
    }
}

@media (max-width: 576px) {
    header {
        padding: 8px 5px;
        justify-content: flex-start;
        gap: 20px;
    }
    .logo img {
        width: 70px;
    }
    header h4 {
        margin-left: 5px;
    }
    .toggle-btn {
        display: block;
        margin-right: 15px;
    }
    .sidebar {
        width: 0;
        height: 100%;
        overflow: hidden;
        transition: width 0.5s ease;
    }
    .sidebar.open {
        width: 250px;
    }
    .dropdown{
        max-width: 90px;
    }
}
/********************************************* Load Product **********************************************/
h1 {
    text-align: center;
    padding-top: 100px;
    margin: 20px auto;
    font-size: 28px;
}

.product-container {
    margin-left: 250px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: margin-left 0.3s ease;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(25% - 20px); /* 25% mỗi sản phẩm - 20px để trừ khoảng gap */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-card h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.product-price {
    font-size: 18px;
    color: #e67e22;
    margin-bottom: 20px;
}

.detail-button {
    display: inline-block;
    background-color: #a08c84;
    color: #fff;
    padding: 10px 15px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    margin: 5px;
    background-size: 200% 100%;
    background-position: left center; 
    transition: all 0.5s ease-in-out;
}

.detail-button:hover {
    background-color: #7d574d;
    background-size: 200% 100%; 
    background-position: right center;
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    margin: 20px auto;
    width: 35%;
}

.search-form .search-input {
    margin-top: 4px;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-size: 16px;
}

.search-form .search-input:focus {
    border-color: #3c1f17; 
    box-shadow: 0 0 5px rgba(60, 31, 23, 0.5);
}

.search-button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #7e4b36;
    border: none; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5e3322;
}

@media (max-width: 576px) {
    .product-container {
        margin-left: 0;
        padding: 10px;
        overflow-x: hidden;
        width: 100%;
    }

    .product-card {
        width: 100%; /* 1 sản phẩm trên 1 hàng */
    }

    form {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
    }
    .search-form{
        width: auto;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .product-container {
        margin-left: 0;
        padding: 10px;
        overflow-x: hidden;
        width: 100%;
    }

    .product-card {
        width: calc(50% - 20px);
    }

    form {
        flex-direction: column;
    }
    .search-form{
        width: auto;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    h1{
        margin-right: 0px;
        padding-left: 250px;
    }

    .product-card {
        width: calc(33.33% - 20px); /* 3 sản phẩm trên 1 hàng */
    }

    form {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
    }

    .search-form{
        margin-left: 250px;
        width: auto;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    h1{
        margin-right: 0px;
        padding-left: 250px;
    }
    .product-card {
        width: calc(33.33% - 20px); /* 3 sản phẩm trên 1 hàng */
    }
    
    .search-form{
        width: 50%;
    }
} 

/********************** Chi tiết sản phẩm ********************/
.product-detail {
    max-width: 1000px;
    margin: 120px auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-detail h1 {
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to right, #7e4b36, #3c1f17);
    color: #ffffff;
    font-weight: bold;
}

.product-info {
    padding: 20px;
    text-align: center;
}

.product-info img {
    width: 30%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    border: 2px solid #7e4b36;
}

.product-details {
    margin-top: 20px;
    text-align: left;
}

.product-details h2 {
    font-size: 24px;
    color: #7e4b36;
    margin-bottom: 30px;
    padding-top: 15px;
    text-align: center;
}

.product-details p {
    margin: 5px 0;
    font-size: 16px;
}

.product-details p strong {
    color: #7e4b36;
}

.actions {
    text-align: center;
    padding: 15px;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
}

.actions .back-button {
    text-decoration: none;
    font-size: 16px;
    background: #7e4b36;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.actions .back-button:hover {
    background: #6a4e23;
}

@media (max-width: 768px) {
    .product-detail {
        max-width: 95%;
    }
    .product-info img {
        width: 70%;
        margin-bottom: 20px;
    }
    .product-details h2 {
        font-size: 20px;
    }
    .actions .back-button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .product-detail {
        margin-left: 260px;
        max-width: 90%;
        margin-right: 10px;
    }
    .product-info img {
        width: 70%;
        margin-bottom: 20px;
    }
    .product-details h2 {
        font-size: 20px;
    }
    .actions .back-button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .product-detail {
        margin-left: 260px;
        max-width: 90%;
        margin-right: 10px;
    }
    .product-info img {
        width: 50%;
        margin-bottom: 20px;
    }
    .product-details h2 {
        font-size: 20px;
    }
    .actions .back-button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (min-width:1200px){
    .product-detail {
        margin-left: 260px;
        max-width: 70%;
        margin-right: 10px;
    }
}
/**************************** Thêm/sửa sản phẩm ******************************/
.form-container {
    width: 600px;
    max-width: 90%;
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 90px auto;
}

.form-container h2 {
    text-align: center;
    justify-content: center;
    color: #5e3322;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-group label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
    text-align: left;
    font-size: 18px;
}

.form-group input, textarea, select {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    text-align: center;
}

.form-group input:focus, textarea:focus, select:focus {
    border-color: #3c1f17;
}

.form-actions {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-addsp{
    max-width: 160px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7e4b36;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-addsp:hover {
    background-color: #7d574d;
}

.actions-form{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-edit{
    max-width: 180px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7e4b36;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.actions-form .back-button {
    text-decoration: none;
    font-size: 16px;
    background: #7e4b36;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-left: 15px;
}
.required {
    color: red;
    font-weight: bold;
}
.error-message {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: red;
}

@media (max-width: 576px) {
    .form-container {
        margin: 120px auto;
    }

    .form-group{
        justify-content: center;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .form-container {
        width: 100%;
        overflow-x: hidden;
    }
    .form-group {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .form-container {
        margin-left: 265px;
        max-width: 500px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .form-container {
        margin-left: 300px;
    }
}

/************************** Thống kê *******************************/
.stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    margin-top: 30px ;
    margin-left: 270px;
}

.stats-box {
    background: linear-gradient(145deg, #f1f1f1, #e1e1e1);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.stats-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stats-box h3 {
    font-size: 28px;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.stats-box p {
    font-size: 40px;
    font-weight: 600;
    color: #7e4b36;
    margin: 20px 0;
}

.btn-view {
    display: inline-block;
    padding: 12px 25px;
    background-color: #7d574d;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-view:hover {
    background-color: #7e4b36;
    transform: scale(1.05);
}

.btn-view:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1200px) {
    .stats-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 270px;
        width: 60%;
    }

    .stats-box h3 {
        font-size: 24px;
    }
    .stats-box p {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    .stats-container {
        grid-template-columns: 1fr;
        margin-left: 20px;
        width: 90%;
    }
    .stats-box {
        padding: 15px;
    }
    .stats-box h3 {
        font-size: 22px;
    }
    .stats-box p {
        font-size: 28px;
    }
    .btn-view {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .stats-container {
        grid-template-columns: 1fr;
        margin-left: 20px;
        width: 90%;
    }
    .stats-box h3 {
        font-size: 20px;
    }
    .stats-box p {
        font-size: 24px;
    }
    .btn-view {
        padding: 8px 16px;
        font-size: 12px;
    }
}
.container {
    max-width: 100%;
    margin: 0 auto;
}

.category-table{
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 260px;
}

.category-table th,
.category-table td {
    padding: 8px 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.category-table th {
    background-color: #3c1f17;
    color: white;
}

.category-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.category-table tr:hover {
    background-color: #f1f1f1;
}

.category-table td:first-child, .category-table th:first-child {
    width: 5%;
}

.category-table td:nth-child(2), .category-table th:nth-child(2) {
    width: 30%;
}

.category-table td:last-child, .category-table th:last-child {
    width: 15%;
}

.btn {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary {
    background-color: #7d574d;
    color: white;
    margin-left: 260px;
}

.btn-primary:hover {
    background-color: #5e3826;
}

.btn-warning {
    background-color: #ffc107;
    color: white;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.alert-success {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 300px;
}

@media (max-width: 768px) {
    .category-table {
        width: 100%;
        margin-left: 0;
        font-size: 12px;
    }

    .category-table th, .category-table td {
        padding: 8px 10px;
    }

    .btn {
        padding: 5px 10px;
        font-size: 12px;
        margin-left: 0;
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .category-table {
        width: 65%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .category-table {
        width: 70%;
    }
}

/********************************************** Thêm/Sửa danh mục ***************************************************/
.edit-category-form {
    width: 80%;
    margin-left: 280px;   
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    padding: 20px;
}

.edit-category-form h1 {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 10px;
    color: #3c1f17;
    text-align: center;
}

.edit-category-form .form-group {
    margin-bottom: 10px;
}

.edit-category-form label {
    font-weight: bold;
    color: #3c1f17;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 20px;
}

.edit-category-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.div-button{
    text-align: center;
}
.btn-add{
    text-align: center;
    background-color: #7d574d;
    color: white;
}
.btn-add:hover {
    background-color: #5e3826;
    color: white;
}
.div-button .btn-save, .div-button .btn-cancel {
    background-color: #7d574d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.div-button .btn-save:hover, .div-button .btn-cancel:hover {
    background-color: #5e3826;
}

@media (max-width: 576px) {
    .edit-category-form {
        padding: 10px;
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
    }

    .edit-category-form h1 {
        font-size: 24px;
    }

    .edit-category-form input[type="text"] {
        padding: 8px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .edit-category-form {
        width: 100%;
        padding: 15px;
        margin-left: 0;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .edit-category-form {
        width: auto;
        padding: 15px;
    }
}
@media (min-width: 992px) and (max-width:1200px){
    .edit-category-form {
        padding: 20px;
        width: auto;
    }
}
@media (min-width: 1200px){
    .edit-category-form {
        padding: 20px;
        width: 80%;
    }
}

/************************ Load dlieu Khach Hang ***************************/
.user-container {
    max-width: 1200px;
    margin-top: 100px;
    margin-left: 260px;
    border-radius: 10px;
    padding: 20px;
}

.user-container h1 {
    padding-top: 0px;
    padding-left: 0;
    margin-right: 150px;
    color: #333;
}

.user-container table {
    max-width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 0;
    display: block;
    overflow-x: auto;
}

.user-container th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.user-container th {
    background-color: #f4f4f4;
    color: #333;
}

.user-container tr:hover {
    background-color: #f1f1f1;
}

.user-container table td:first-child, .user-container table th:first-child {
    width: 50px;
}

.user-container table td:nth-child(2), .user-container table th:nth-child(2) {
    width: 100px;
}

.user-container table td:nth-child(3), .user-container table th:nth-child(3) {
    width: 100px;
}

.user-container table td:nth-child(6), .user-container table th:nth-child(6) {
    width: 150px;
}

.user-container table td:nth-child(7), .user-container table th:nth-child(7) {
    width: 200px;
}

.user-container table td:last-child, .user-container table th:last-child {
    width: 200px;
}

.btn-edit, .btn-delete {
    display: inline-block;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
}

.btn-edit {
    background-color: #7d574d;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-edit:hover {
    background-color: #5e3826;
}

.btn-delete:hover {
    background-color: #c82333;
}

@media (max-width: 480px) {
    .user-container{
        margin-left: 0;    
    }
    .user-container h1{
        margin-right: 0;    
    }
    .user-container table th, .user-container table td {
        padding: 6px 8px;
    }

    .user-container table td:last-child, .user-container table th:last-child {
        width: auto;
    }

    .btn-edit, .btn-delete {
        padding: 5px 8px;
        font-size: 12px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
}

@media (max-width: 600px) {
    .user-container {
        padding: 15px;
        margin-left: 0;
        max-width: 600px;
    }

    .user-container h1 {
        font-size: 20px;
    }

    .user-container table {
        font-size: 12px;
    }

    .user-container th, td {
        padding: 8px 10px;
    }

    .btn-edit, .btn-delete {
        font-size: 12px;
        padding: 6px 10px;
    }
}

@media (max-width: 768px) {
    .user-container {
        padding: 15px;
        margin-left: 0;
        max-width: 750px;
    }

    .user-container table {
        font-size: 12px;
    }

    .user-container th, td {
        padding: 8px 10px;
    }

    .btn-edit, .btn-delete {
        font-size: 12px;
        padding: 6px 10px;
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .user-container {
        padding: 15px;
        margin-left: 260px;
        max-width: 1500px;
    }

    .user-container table {
        font-size: 14px;
    }

    .user-container th, td {
        padding: 8px 10px;
    }

    .btn-edit, .btn-delete {
        font-size: 12px;
        padding: 6px 10px;
        margin-top: 5px;
    }
}
/************************* Load Review **************************/
.review-container {
    max-width: 1200px;
    padding: 20px;
    margin-left: 260px;
}

.review-container h1 {
    margin-right: 150px;
    font-size: 36px;
    color: #4a2e2a;
    margin-bottom: 20px;
    letter-spacing: 2px;
    padding-top: 90px;
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.review-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.review-card h3 {
    margin: 0 0 15px;
    font-size: 1.5em;
    color: #8b4513;
    font-weight: bold;
}

.review-card p {
    margin: 5px 0;
    color: #4a2e2a;
}

.review-card .product-name {
    color: #a0522d;
    font-weight: bold;
}

.review-card .description {
    font-style: italic;
    color: #4a2e2a;
}

.delete-btn {
    display: inline-block;
    margin-top: 10px;
    margin-left: 120px;
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #7d574d;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.delete-btn:hover {
    background-color: #5e3826;
}
@media (max-width: 576px) {
    .review-container{
        margin-left: 0;
    }
    .review-container h1 {
        margin-right: 0;
        font-size: 1.8rem;
    }

    .reviews-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .review-card {
        padding: 10px;
    }

    .review-card h3 {
        font-size: 1.2em;
    }

    .delete-btn {
        padding: 6px 10px;
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .review-container{
        margin-left: 0;
    }
    .review-container h1 {
        font-size: 2rem;
    }

    .reviews-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
    }

    .review-card {
        padding: 15px;
    }

    .review-card h3 {
        font-size: 1.3em;
    }

    .delete-btn {
        padding: 8px 12px;
        font-size: 14px;
    }
}
@media (max-width: 1200px) {
    .review-container h1 {
        margin-right: 0;
        padding-left: 0;
        font-size: 2rem;
    }

    .reviews-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
    }

    .review-card {
        padding: 15px;
    }

    .review-card h3 {
        font-size: 1.3em;
    }

    .delete-btn {
        padding: 8px 12px;
        font-size: 14px;
    }
}
/****************************** Load Đơn Hàng ***************************/
.order-container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.order-container h1 {
    padding-top: 100px;
    color: #333;
    margin-bottom: 10px;
}

.filter-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 260px;
}

.filter-form label {
    font-size: 16px;
    margin-right: 10px;
    color: #4a2e2a;
}

.filter-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    cursor: pointer;
    width: 20%;
}

.filter-form select:focus {
    border-color: #7d574d;
}

.orders-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-left: 260px;
}

.order-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.order-card p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.order-card strong {
    font-weight: bold;
    color: #7d574d;
}

.status-container {
    margin-top: 15px;
}

.status-container select {
    margin-top: 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    cursor: pointer;
    width: 100%;
}

.status-container select:focus {
    border-color: #7e4b36;
}

.double-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}

.xoaview-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    background-color: #a08c84;
    color: #fff;
    text-decoration: none;
}

.xoaview-btn:hover {
    background-color: #7d574d;

}

.order-container p {
    font-size: 16px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .orders-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .order-card {
        padding: 15px;
    }

    .filter-form select {
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .orders-grid{
        margin-left: 0;
    }
    .filter-form{
        margin-left: 0;
    }
    .status-container select {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .order-card {
        padding: 10px;
    }
    .filter-form{
        margin-left: 0;
    }
}

/********************************** Chi tiết đơn hàng ****************************************/
.order-details-container {
    max-width: 900px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.order-details-container h1{
    padding-top: 0;
    color: #4a2e2a;
    text-align: center;
    font-size: 34px;
    padding-left: 0;
}
.order-details{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}
.product-list {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.order-details p {
    flex: 1 1 calc(50% - 20px); /* Chia mỗi mục chiếm 50% chiều rộng, trừ khoảng cách */
    font-size: 16px;
    margin-bottom: 10px;
}

.product-list p {
    font-size: 16px;
    margin-bottom: 10px;
}

.order-details p strong, .product-list p strong {
    color: #8b4513;
}
.product-list h2{
    padding-top: 0;
    color: #4a2e2a;
    text-align: left;
    font-size: 30px;
    padding-left: 0;
}
.product-list table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 0;
}

.product-list table th, .product-list table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.product-list table th {
    background-color: #f8f8f8;
    color: #4a2e2a;
}

.product-list table tr:hover {
    background-color: #f1f1f1;
}
.product-list table td:first-child, table th:first-child {
    width: 50%;
}

.product-list table td:nth-child(2), table th:nth-child(2) {
    width: 10%;
}

.product-list table td:nth-child(3), table th:nth-child(3) {
    width: 20%;
}

.product-list table td:last-child, table th:last-child {
    width: 20%;
}
.back-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.back-button{
    text-decoration: none;
    font-size: 16px;
    background: #7e4b36;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.back-button:hover {
    background-color: #6a4e23;
}
@media (max-width: 576px) {
    .order-details-container {
        margin-top: 100px;
        padding: 15px;
        margin-left: 0;
    }

    .order-details {
        gap: 10px;
    }

    .order-details p {
        font-size: 14px;
    }

    .product-list h2 {
        font-size: 20px;
    }

    .product-list table th, .product-list table td {
        padding: 8px; 
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .order-details p {
        flex: 1 1 100%;
        text-align: center;
    }

    .product-list table {
        font-size: 14px;
    }
}
@media (min-width:768px) and (max-width: 1024px) {
    .order-details-container {
        max-width: 750px;
        margin: 100px auto;
        padding: 15px;
        margin-left: 260px;
    }

    .order-details {
        gap: 10px;
    }

    .order-details p {
        flex: 1 1 calc(50% - 10px); 
        font-size: 14px;
    }

    .product-list h2 {
        font-size: 26px;
    }

    .product-list table {
        font-size: 14px;
    }

    .back-button-container {
        margin-top: 15px;
    }

    .back-button {
        padding: 6px 16px; 
        font-size: 14px;
    }
}
@media (min-width:1024px){
    .order-details-container {
        max-width: 750px; 
        margin: 100px auto;
        padding: 15px;
        margin-left: 260px;
    }
}
/***************************** Xóa đơn hàng ******************************/
.confirm-delete-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 550px;
    margin: 100px auto;
}

.confirm-delete-container h2 {
    text-align: center;
}

.confirm-delete-container table:first-of-type {
    width: 100%;
    margin-bottom: 20px;
}

.confirm-delete-container table:first-of-type th, 
.confirm-delete-container table:first-of-type td {
    padding: 10px;
    text-align: center;
}

.confirm-delete-container table:first-of-type th {
    background-color: #f0f0f0;
}

.confirm-delete-container table:first-of-type th:first-child {
    width: 30%;
}

.confirm-delete-container .product-table {
    width: 100%;
    overflow-x: auto;
    display: block;
    margin-bottom: 20px;
}

.confirm-delete-container .product-table table {
    width: 100%;
    border-collapse: collapse;
}

.confirm-delete-container .product-table th, 
.confirm-delete-container .product-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.confirm-delete-container .product-table td:first-child {
    width: 30%;
}

.confirm-delete-container .product-table th {
    background-color: #f0f0f0;
}

.button-group {
    display: flex;
    gap: 20px; 
    justify-content: center;
}

.confirm-delete-container .btn-danger, 
.confirm-delete-container .btn-cancel {
    background-color: #7d574d;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

@media (max-width: 560px) {
    .confirm-delete-container {
        padding: 15px;
        margin-top: 100px;
        width: 95%;
    }
    .confirm-delete-container table:first-of-type th:first-child {
        width: 40%;
    }

    .confirm-delete-container .product-table table {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .confirm-delete-container {
        padding: 15px;
        margin-top: 100px;
        width: 95%;
    }
}
@media (min-width:768px) and (max-width: 1024px){
    .confirm-delete-container {
        margin-left: 260px;
        width: 65%;
    }
}
/************************************ Giỏ hàng ***************************************/
.cart-list-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    margin-left: 270px;
    margin-right: 10px;
}

.cart-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.cart-header {
    text-align: left;
    font-size: 1.4rem;
    color: #7e4b36;
    font-weight: bold;
}

.cart-body {
    display: flex;
    gap: 20px;
    width: 100%;
}

.product-img-container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 50%;
}

.product-img-container img {
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.product-info-container {
    flex-grow: 1;
    width: 50%;
}

.product-info-container h4 {
    font-size: 18px;
    color: #333;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: #ff5722   ;
}

.product-info-container p {
    color: #555;
    text-align: center;
    font-size: 18px;
}

.product-info-container .product-pricee,
.product-info-container .product-quantity {
    font-size: 18px;
    font-weight: bold;
    color: #ff5722;
    margin-top: 15px;
}

.product-info-container .total-price {
    font-size: 20px;
    font-weight: bold;
    color: #4caf50;
    background-color: #f1f8e9;
    padding: 5px;
    border-radius: 5px;
}

.cart-box:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.no-cart-items {
    text-align: center;
    font-size: 1.1rem;
    color: #888;
}

@media (max-width: 560px) {
    .cart-list-wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
    }
    .product-info-container {
        width: 100%;
    }
    .cart-body {
        flex-direction: column; 
    }

    .product-img-container {
        width: 100%; 
        margin-bottom: 15px;
        justify-content: center;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .cart-list-wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
    }
    .product-info-container {
        width: 100%;
    }
    .cart-body {
        flex-direction: column;
    }

    .product-img-container {
        width: 100%;
        margin-bottom: 15px;
        justify-content: center;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .cart-list-wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 270px;
        margin-right: 10px;
    }

    .product-img-container img {
        width: 100%;
        height: auto;
    }

    .product-info-container {
        width: 100%;
    }
}
/******************************************** Thống kê *******************************************/
.statistics-form {
    margin-left: 270px;
    margin-right: 20px;
}

.statistics-table {
    margin-top: 20px;
    margin-left: 270px;
    width: 80%;
    border-collapse: collapse;
    margin-right: 15px;
}

.statistics-table th, .statistics-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.statistics-table th {
    background-color: #f4f4f4;
}

.statistics-table th:first-child{
    width: 15%;
}

.statistics-table th:nth-child(2){
    width: 30%;
}
.statistics-table th:nth-child(3){
    width: 10%;
}
.statistics-table th:last-child{
    width: 10%;
}
.statistics-table img {
    width: 60%;
    object-fit: cover;
    border-radius: 10px;
}

.statistics-form-group {
    margin-bottom: 10px;
}

.statistics-form label {
    margin-right: 10px;
}

.statistics-form input{
    margin-top: 5px;
    width: 50%;
}
.statistics-form button {
    padding: 8px 15px;
    background-color: #7d574d;
    color: white;
    border: none;
    cursor: pointer;
}

.total-revenue {
    margin-top: 20px;
    margin-left: 270px;
    margin-right: 30px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
    border-radius: 5px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .statistics-form {
        margin-left: 10px;
        margin-right: 20px;
    }

    .statistics-table {
        margin-left: 0;
        width: 100%;
        margin-right: 0;
    }

    .statistics-table th, .statistics-table td {
        padding: 8px;
    }

    .statistics-form input, .statistics-form button {
        width: 100%;
    }

    .total-revenue {
        margin-left: 10px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 480px) {
    .statistics-form {
        margin-left: 10px;
    }

    .statistics-table th, .statistics-table td {
        padding: 6px;
        font-size: 12px;
    }

    .statistics-table img {
        width: 50%;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .statistics-form {
        margin-left: 270px;
        margin-right: 20px;
    }

    .statistics-table {
        margin-left: 270px;
        width: auto;
        margin-right: 20px;
    }

    .statistics-table th, .statistics-table td {
        padding: 8px;
    }

    .statistics-form input, .statistics-form button {
        width: 100%;
    }

    .total-revenue {
        margin-left: 270px;
        margin-right: 20px;
    }
}
@media (min-width: 1024px){
    .statistics-table {
        width: auto;
        margin-right: 30px;
    }
}